@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);

/* images to get :

*/

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  font: normal 14px arial,sans-serif;
  position: relative;
}


/* Custom page CSS
-------------------------------------------------- */

/* ------------------------- NAV BAR STYLES------------------------- */


.navbar{
  background-color: #1D2634;
  border-bottom: 2px solid #E6F0F3;
}

.navbar .navbar-nav{
  float: right;
}

.navbar .navbar-nav a.header-white:hover {
  background-color: transparent;
    color: #E6F0F3;
}

a.navbar-brand.header-white:hover {
  background-color: transparent;
    color: #E6F0F3;
}

a.navbar-brand.header-white:focus {
  outline:none;
}

/* ------------------------- NAV BAR STYLES------------------------- */

  #home {
    height:400px;
    padding: 50px 0;
    padding-bottom: 0;
        
  }

  #services {
    background-color: #1D2634;
     height: auto;
    padding: 50px 25px;
    
  }

  #about {
         height: auto;
      padding: 50px 20px;  
  }

  .section .header{
    font-size: 32px;
    text-transform: uppercase;
  }

  .section .para{
     font-size: 1.4rem;
    padding-top: 30px;
  }

  .white-bg{
    background-color: #fff;
  }

  .blue-bg{
    background-color: #137CCC;
  }

  .header-blue{
    color: #137CCC; 
  }

  .header-white{
    color:#E6F0F3;
  }

.box{
      padding: 5px 20px;
      margin: 10px auto;
      width: 90%;
      border-radius: 5px;
          padding-bottom: 15px;
      background-color:#E5EFF3;
  }

  .box .box-header{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 15px;
  }

    .box .box-content{
      text-align: center;
  }

   .box .box-content ul{
      padding: 0;
      font-size: 1.7rem;
      list-style-type: none;
  }


   .box .box-content ul li{
  cursor: pointer;
  margin: 5px 0;
    
    /*font-size: 2.2rem;*/
    }
     .box .box-content ul li:hover{
    color: #137CCC;
    
    /*font-size: 2.2rem;*/
    }

  .box2{
      text-align: center;
      padding: 20px 40px;
      margin: 20px auto;
      width: 80%;
      border-radius: -500px;
      background-color:#E5EFF3;
  }

  #contact{
    height: auto;
    padding: 50px 0;
    background-color: #1D2634;
    position: relative;
  }

  #contact .contact{
    height:150px; 
  }

  #contact button{
  width:100%;
    margin-top: 15px;
  }

  #contact .spec-pad{
    padding: 6px;
  }

  .top-border{
      height: 35px;
     border-top: 2px solid #E6F0F3;
  }

  #map{
    width: 100%;
    height: 350px;
    padding-left:40px;
  }

#myCarousel .item > img {
  margin: 0 auto;
  width: 100%;
  height: 400px;
}

.carousel-caption {
    right: 12%;
    left: 12%;
    top: 13%;
    padding-bottom: 30px;
    text-align: left;
}

.carousel-caption .c-header{
    width: 190px;
    font-size: 3rem;
    /* background-color: #137CCC; */
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: rgba(8, 103, 1814, 0.7);
}

.carousel-caption p{
    padding: 7px;
    color: black;
    width: auto;
    font-size: 2rem;
    background-color: #fff;
    background-color: rgba(255,255,255,0.7);
    border-radius: 3px;
    margin-top: 20px;
  }
  
  #services{
  background-color: #1D2634;
}

  .bottom-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.jump {
  font-size:25px;
  text-decoration: none;
}

#jump {
  color:white;
  text-decoration: none;
}

#jump:hover {
  color:white;
  text-decoration: none;
}

#jump:active {
  color:white;
  text-decoration: none;
}

#jump:link {
  color:white;
  text-decoration: none;
}

#jump:visited {
  color:grey;
  text-decoration: none;
}

.change-icon:hover > .fa + .fa {
  display: inherit;
  text-decoration: none;
}

#linkJump {
  text-decoration: none;
}

#pricing{
  background-color: red;
  color: blue;
}

/* ------------------------- PRICING SECTION ------------------------- */
.p-container{
  width: 95%;
  text-align: center;
}

.pricingBack{
  background-color:silver;
}

.priceSep{
  color:white;
  width:70%;
  margin-top:0;
  margin-bottom:0;
}

.pricingCols> h5 {
  vertical-align: middle;
}

#myPriceCarousel{
  width: 85%;
  height: 400px;
}

#small-carousel{
    width: 85%;
    height: 425px;
}

.pricecar{
  height:400px;
}

.pricingCarousel{
  background-image: none !important;
}

.pricingContainer{
  background-color:#1D2634;
  background: -webkit-linear-gradient(left, black, #1D2634, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, black, #1D2634, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, black, #1D2634, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(left, black, #1D2634, black); /* Standard syntax */
  color:white;
  border: solid 20px silver;
  margin-top: 50px;
  height:300px;
  border-radius:25px;
}
/* ------------------------- PRICING SECTION ------------------------- */

/* ------------------------- LINUX PAGE ------------------------- */

.linuxCode {
        font-family: menlo,monaco,consolas,courier new,monospace;
        width:100%
}
.linuxParagraph {
    color:white;
    font-weight:bold;
}
#linuxSection{
    padding: 60px 0;
    padding-bottom: 0;
}
.linuxHeader{
    font-size:4em;
    font-weight: bold;
    color:white;
}
kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #FFF inset;
    white-space: nowrap;
}

.sidebar{
    position: fixed;
    top: 90px;
    left: 0;
    background: white;
    background: -webkit-linear-gradient(left, #C2D1DD, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #C2D1DD, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #C2D1DD, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #C2D1DD, white); /* Standard syntax */
    font-color: black;
    font-weight: bold;
    border: solid thick black;
    width: 200px;
    margin-left:10px;
}

.quickNav{
    margin-left:10px;
}

.navSmall{
    position: fixed;
    top: 90px;
    left: -7px;
    background: #137CCC;
    font-color: black;
    cursor:pointer;
    opacity: 0.4;
}

.navSmallActive{
    left: 193px;
}

.navSmallMenu{
    position: fixed;
    top: 90px;
    left: -200px;
    background: white;
    background: -webkit-linear-gradient(left, #C2D1DD, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #C2D1DD, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #C2D1DD, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #C2D1DD, white); /* Standard syntax */
    font-color: black;
    font-weight: bold;
    border: solid thick black;
    width: 200px;
}

.navSmallMenuActive{
    left: 0;
}
 
/* ------------------------- LINUX PAGE ------------------------- */
.social{
  margin-top: 25px;
}

.social img{
  cursor: pointer;
  margin: 5px 5px;
}


#myPriceCarousel .carousel-control.right {
    right: -100px;
    color: #137CCC;;
}

#myPriceCarousel  .carousel-control.left {
    left: -100px;
    color: #137CCC;
}

.myText{
      width: 100%;
    height: 100px;
    border-radius: 5px;
    padding: 10px 10px;
}

.hidden-map-large{
  display:block;
}

.hidden-map{
  display:none;
}

  #small-carousel{
      display:none;
    }

    #footer {
      overflow: hidden;
        height: 100px;
        background-color: #fff;
    }

    #footer span{
      position: absolute;
      top: 45px;
      font-size: 1.2rem;
    }

    .logo-box{
      position: relative;
       cursor: pointer;
    }

    #footer a{
      color: black;
    }
    
    #footer img{
      position: absolute;
      top:-50px;
    }

@media only screen and (min-width: 320px) and (max-width: 479px){
    .hidden-map-large{
      display:none;
    }

    .hidden-map{
    display:block;
  }

    #map {
    padding: 0 0;
  }

  #contact {
        padding: 50px 45px;
    }

    #map{
      margin-top:20px;
    }

    #contact .spec-pad {
    padding: 0px;
  }

    .navbar-toggle .icon-bar {
      background-color: #fff;
    }

    .navbar-toggle {
      border: 1px solid #fff;
  }

    #myPriceCarousel .carousel-control.left {
      display: none;
  }

    #myPriceCarousel .carousel-control.right {
      display: none;
  }

  
    #small-carousel .carousel-control.left {
      display: none;
  }

    #small-carousel .carousel-control.right {
      display: none;
  }
  

   .navbar .navbar-nav {
      float: left;
  }

  .pricecar span{
    font-size: 1.4rem;
  }

  .pricecar h5{
    font-size: 1.4rem;
  }

  .carousel-caption .c-header {
    font-size: 2rem;
    padding: 0px 15px;
  }

  .carousel-caption p {
    font-size: 1.5rem;
 }

    #myPriceCarousel{
      display: none;
    }

    #small-carousel{
      display:block;
    }

    #small-carousel .pricingContainer {
    margin-top: 35px;
  }

    .pricingContainer {
    height: 360px;
    }

    .social img {
    cursor: pointer;
    margin: 5px 3px;
  }

  .footer-header{
    text-align: center;
  }

}

@media only screen and (min-width: 480px) and (max-width: 767px){
    .hidden-map-large{
      display:none;
    }

    .hidden-map{
    display:block;
  }

  #contact {
      padding: 50px 45px;
  }

    #map {
        margin-top:20px;
        padding: 0 0;
    }

    #contact .spec-pad {
      padding: 0px;
  }

  .navbar-toggle .icon-bar {
      background-color: #fff;
    }

    .navbar-toggle {
      border: 1px solid #fff;
  }

  .navbar .navbar-nav {
      float: left;
  }

    #myPriceCarousel .carousel-control.left {
      display: none;
  }

    #myPriceCarousel .carousel-control.right {
      display: none;
  }

      #small-carousel .carousel-control.left {
      display: none;
  }

    #small-carousel .carousel-control.right {
      display: none;
  }


    .carousel-caption .c-header {
      padding: 0px 15px;
    }

   .footer-header{
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
   .social img {
    
      margin: 5px 3px;
  }

   .navbar .navbar-nav {
      float: left;
  }

  #myPriceCarousel .carousel-control.left {
      display: none;
  }

    #myPriceCarousel .carousel-control.right {
      display: none;
  }

   .carousel-caption .c-header {
    padding: 0px 15px;
  }


}

@media only screen and (min-width: 992px) and (max-width: 1999px){

}

