@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  font: normal 14px arial,sans-serif;
  position: relative;
}


/* Custom page CSS
-------------------------------------------------- */

.navbar{
  background-color: #1D2634;
  border-bottom: 2px solid #E6F0F3;
}

.navbar .navbar-nav{
  float: right;
}

.navbar .navbar-nav a.header-white:hover {
  background-color: transparent;
    color: #E6F0F3;
}

a.navbar-brand.header-white:hover {
  background-color: transparent;
    color: #E6F0F3;
}

  #section1 {
      padding: 50px 0;
      padding-bottom: 0;
        
  }

  #section2 {
    padding: 50px 25px;
    
  }

  #section3 {
    padding: 50px 0;
    
  }

.section{
  height: 500px;
}

  .section .header{
    font-size: 32px;
    text-transform: uppercase;
  }

  .section .para{
    font-size: 20px;
    padding-top: 30px;
  }

  .white-bg{
    background-color: #E5EFF3;
  }

  .blue-bg{
    background-color: #137CCC;
  }

  .header-blue{
    color: #137CCC; 
  }

  .header-white{
    color:#E6F0F3;
  }

  .box{
      text-align: center;
      padding: 20px 40px;
      margin: 20px auto;
      width: 92%;
      border-radius: 5px;
      background-color:#E5EFF3;
  }

  #footer{
    padding: 50px 0;
    background-color: #1D2634;
    padding-bottom: 0;
  }

  #footer .contact{
    height:150px;
  }

  .top-border{
    height: 35px;
     border-top: 2px solid #E6F0F3;
  }

  #map{
    width: 100%;
    height: 200px;
  }







