@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);

/* images to get :

*/

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  font: normal 14px arial,sans-serif;
  position: relative;
}


/* Custom page CSS
-------------------------------------------------- */

/* ------------------------- NAV BAR STYLES------------------------- */


.navbar{
  background-color: #1D2634;
  border-bottom: 2px solid #E6F0F3;
}

.navbar .navbar-nav{
  float: right;
}

.navbar .navbar-nav a.header-white:hover {
  background-color: transparent;
    color: #E6F0F3;
}

a.navbar-brand.header-white:hover {
  background-color: transparent;
    color: #E6F0F3;
}

a.navbar-brand.header-white:focus {
  outline:none;
}

/* ------------------------- NAV BAR STYLES------------------------- */

  #section1 {
    height:400px;
    padding: 50px 0;
    padding-bottom: 0;
        
  }

  #price{
    height: auto;
     padding: 50px 25px;
  }

  #section2 {
    background-color: #1D2634;
     height: auto;
    padding: 50px 25px;
    
  }

  #section3 {
     height: 400px;
    padding: 50px 0;
    
  }

/*.section{
  height: 500px;
} */

  .section .header{
    font-size: 32px;
    text-transform: uppercase;
  }

  .section .para{
    font-size: 20px;
    padding-top: 30px;
  }

  .white-bg{
    background-color: #fff;
  }

  .blue-bg{
    background-color: #137CCC;
  }

  .header-blue{
    color: #137CCC; 
  }

  .header-white{
    color:#E6F0F3;
  }

.box{
      padding: 5px 20px;
      margin: 10px auto;
      width: 90%;
      border-radius: 5px;
      background-color:#E5EFF3;
  }

  .box .box-header{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 15px;
  }

    .box .box-content{
      text-align: center;
  }

   .box .box-content ul{
      padding: 0;
      font-size: 1.8rem;
      list-style-type: none;
  }

     .box .box-content ul li:hover{
    color: #137CCC;
    /*font-size: 2.2rem;*/
    }

  .box2{
      text-align: center;
      padding: 20px 40px;
      margin: 20px auto;
      width: 80%;
      border-radius: -500px;
      background-color:#E5EFF3;
  }

  #footer{
     height: 100vh;
    padding: 50px 0;
    background-color: #1D2634;
    padding-bottom: 0;
    position: relative;
  }

  #footer .contact{
    height:150px;
  }

  .top-border{
    height: 35px;
     border-top: 2px solid #E6F0F3;
  }

  #map{
    width: 100%;
    height: 406px;
  }


#myCarousel .item > img {

  margin: 0 auto;
  width: 100%;
    height: 400px;
}


@media screen and (min-width: 768px){

}


.carousel-caption {
    right: 12%;
    left: 12%;
    top: 13%;
    padding-bottom: 30px;
    text-align: left;

}

.carousel-caption h3{
width: 190px;
    font-size: 3rem;
    /* background-color: #137CCC; */
    border-radius: 4px;
    padding: 10px 15px;
    background-color: rgba(8, 103, 1814, 0.7);
}

.carousel-caption p{
    padding: 7px;
    color: black;
    width: auto;
    font-size: 2.3rem;
    background-color: #fff;
    background-color: rgba(255,255,255,0.7);
    border-radius: 3px;
  }
  
  #services{
  background-color: #1D2634;
}

  .bottom-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.jump {
  font-size:25px;
  text-decoration: none;
}

#jump {
  color:white;
  text-decoration: none;
}

#jump:hover {
  color:white;
  text-decoration: none;
}

#jump:active {
  color:white;
  text-decoration: none;
}

#jump:link {
  color:white;
  text-decoration: none;
}

#jump:visited {
  color:grey;
  text-decoration: none;
}

.change-icon:hover > .fa + .fa {
  display: inherit;
  text-decoration: none;
}

#linkJump {
  text-decoration: none;
}

#pricing{
  background-color: red;
  color: blue;
}

/* ------------------------- PRICING SECTION ------------------------- */
.p-container{
  width: 95%;
  text-align: center;
}

.p-container{

}

/* ------------------------- PRICING SECTION ------------------------- */

/* ------------------------- LINUX PAGE ------------------------- */

.linuxCode {
        font-family: menlo,monaco,consolas,courier new,monospace;
        width:100%
}
.linuxParagraph {
    color:white;
    font-weight:bold;
}
#linuxSection{
    padding: 60px 0;
    padding-bottom: 0;
}
.linuxHeader{
    font-size:4em;
    font-weight: bold;
    color:white;
}
kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #FFF inset;
    white-space: nowrap;
}

.sidebar{
    position: fixed;
    top: 90px;
    left: 0;
    background: white;
    background: -webkit-linear-gradient(left, #C2D1DD, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #C2D1DD, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #C2D1DD, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #C2D1DD, white); /* Standard syntax */
    font-color: black;
    font-weight: bold;
    border: solid thick black;
    width: 200px;
}
.quickNav{
    margin-left:10px;
}

.navSmall{
    position: fixed;
    top: 90px;
    left: -7px;
    background: #137CCC;
    font-color: black;
    cursor:pointer;
    opacity: 0.4;
}

.navSmallActive{
    left: 193px;
}

.navSmallMenu{
    position: fixed;
    top: 90px;
    left: -200px;
    background: white;
    background: -webkit-linear-gradient(left, #C2D1DD, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #C2D1DD, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #C2D1DD, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #C2D1DD, white); /* Standard syntax */
    font-color: black;
    font-weight: bold;
    border: solid thick black;
    width: 200px;
}

.navSmallMenuActive{
    left: 0;
}
 
/* ------------------------- LINUX PAGE ------------------------- */



@media only screen and (min-width: 320px) and (max-width: 479px){

}

@media only screen and (min-width: 480px) and (max-width: 767px){

}

@media only screen and (min-width: 768px) and (max-width: 991px){

}

@media only screen and (min-width: 992px) and (max-width: 1999px){

}

